<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>添加服务</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/shards.min.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">新建服务</h2>
    <div class="row">
        <div class="col-md-12">
            <form action="#" th:action="@{/add}" th:object="${microService}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">服务名称</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description" class="col-form-label">描述</label>
                        <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="identification" class="col-form-label">标识</label>
                        <input type="text" th:field="*{identification}" class="form-control" id="identification" placeholder="Identification">
                        <span th:if="${#fields.hasErrors('identification')}" th:errors="*{identification}" class="text-danger"></span>
                        <span th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="tableNames" class="col-form-label">表名(多个用","分隔)</label>
                        <input type="text" th:field="*{tableNames}" class="form-control" id="tableNames" placeholder="TableNames">
                        <span th:if="${#fields.hasErrors('tableNames')}" th:errors="*{tableNames}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="packet" class="col-form-label">包名</label>
                        <input type="text" th:field="*{packet}" class="form-control" id="packet" placeholder="com.icetai.auth">
                        <span th:if="${#fields.hasErrors('packet')}" th:errors="*{packet}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="port" class="col-form-label">端口</label>
                        <input type="number" min="0" step="1" th:field="*{port}" class="form-control" id="port" placeholder="9321">
                        <span th:if="${#fields.hasErrors('port')}" th:errors="*{port}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="创建服务">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>