<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>更新服务</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/shards.min.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">更新信息</h2>
    <div class="row">
        <div class="col-md-12">
            <form action="#" th:action="@{/update/{id}(id=${microService.id})}" th:object="${microService}" method="post">
                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">服务名称</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="description" class="col-form-label">描述</label>
                    <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="hidden" th:field="*{identification}">
                </div>
                <div class="form-group col-md-6">
                    <label for="tableNames" class="col-form-label">表名(多个用","分隔)</label>
                    <textarea type="text" th:field="*{tableNames}" class="form-control" id="tableNames" placeholder="TableNames"></textarea>
                    <span th:if="${#fields.hasErrors('tableNames')}" th:errors="*{tableNames}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="packet" class="col-form-label">包名</label>
                    <input type="text" th:field="*{packet}" class="form-control" id="packet" placeholder="com.icetai.auth">
                    <span th:if="${#fields.hasErrors('packet')}" th:errors="*{packet}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <input type="hidden" th:field="*{port}">
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="更新服务">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>