<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>服务列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/shards.min.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <style type="text/css">
        .service-identification {
            font-weight: bold;
            font-style: italic;
        }

        .table-list {
            list-style: none;
            padding: 0;
            color: #2f7b4ad6;
            text-shadow: #0b2e13;
            font-weight: bold;
        }

        .table-list li:hover {
            text-underline: #00abc9;
        }

        .service-packet {
            color: orangered;
        }

        .service-port {
            color: #3f7e00;
            font-weight: bold;
        }

        .nav-bar {
            padding: 0 1rem;
        }
    </style>
    <script th:inline="javascript" type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            'use strict';

            document.addEventListener('keydown', event => {
                const key = event.key.toLowerCase();
                let keyword = document.getElementById('search').value || '';
                if (key === 'enter') {
                    location.href = "/?size=" + [[${microServices.size}]] + "&page=1&keyword=" + keyword;
                }
            });
        });

        function page(size, page) {
            let keyword = document.getElementById('search').value || '';
            if (keyword)
                location.href = "/?size=" + size + "&page=" + page + "&keyword=" + keyword;
            else
                location.href = "/?size=" + size + "&page=" + page;

        }
    </script>

</head>
<body>
<div th:switch="${microServices.content}" class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h2 th:case="null">你还没有创建任何服务</h2>
            <div th:case="*" class="table-responsive">
                <h2 class="my-5">服务列表</h2>
                <nav class="nav-bar" aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <input type="text" id="search" name="search" th:value="*{keyword}" class="fa-search"
                               placeholder="查找" on/>
                        <li th:class="${microServices.isFirst()?'disabled page-item':'page-item'}">
                            <a class="page-link" href="javascript:void(0)"
                               th:onclick="'javascript:page('+${microServices.previousOrFirstPageable().pageSize}+', '+${microServices.previousOrFirstPageable().getPageNumber() + 1}+');'"
                               tabindex="-1">上一页</a>
                        </li>
                        <li th:if="${microServices.totalPages > 0}"
                            th:class="${microServices.getNumber() + 1 == pageNumber?'active page-item':'page-item'}"
                            th:each="pageNumber : ${pageNumbers}">
                            <a href="javascript:void(0)" th:text="${pageNumber}"
                               th:onclick="'javascript:page('+${microServices.size}+', '+${pageNumber}+');'"
                               class="page-link"></a>
                        </li>
                        <li th:class="${microServices.isLast()?'disabled page-item':'page-item'}">
                            <a class="page-link" href="javascript:void(0)"
                               th:onclick="'javascript:page('+${microServices.nextOrLastPageable().pageSize}+', '+${microServices.nextOrLastPageable().getPageNumber() + 1}+');'">下一页</a>
                        </li>
                    </ul>
                </nav>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th scope="col">服务名</th>
                        <th scope="col">描述</th>
                        <th scope="col">标识</th>
                        <th scope="col">表名</th>
                        <th scope="col">包名</th>
                        <th scope="col">端口</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service, status : ${microServices.content}">
                        <td><span class="text-nowrap" th:text="${service.name}"></span></td>
                        <td><span class="text-nowrap" th:text="${service.description}"></span></td>
                        <td><span class="text-nowrap service-identification" th:text="${service.identification}"></span>
                        </td>
                        <td>
                            <div th:unless="${service.tableNames == null}">
                                <ul class="table-list">
                                    <div th:each="tableName,status : ${#strings.arraySplit(service.tableNames, ',')}">
                                        <li>
                                            <span class="text-nowrap" th:text="${tableName}"></span>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </td>
                        <td><span class="text-nowrap service-packet" th:text="${service.packet}"></span></td>
                        <td><span class="text-nowrap service-port" th:text="${service.port}"></span></td>
                        <td><a th:href="@{/edit/{id}(id=${service.id})}" class="btn btn-success">编辑</a>
                            <a th:href="@{/delete/{id}(id=${service.id})}" class="btn btn-danger">删除</a>
                            <a th:href="@{/gen/{id}(id=${service.id})}" class="btn btn-info">打包下载</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a href="/add" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
        </div>
    </div>
</div>
</body>
</html>